/* Define the layout for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}



h1 {
    margin: 20;
}

/* Define the layout for the main content section */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Define the layout for the section headers */
section h2 {
    font-size: 1.5em;
    margin-top: 0;
}

/* Define the layout for the list items */

li {
    margin-bottom: 20px;
}

li>ul>li {
    margin-bottom: 10px;
}

a {
    color: lightblue
}

a:visited {
    color: lightpink;
}

/* Define the layout for the footer section */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}